body {
    display: flex;
    flex-direction: column;
    font-family: 'Merienda One', cursive;
    cursor: pointer;
    align-items: center;
    background: black;

 
    

    
}

h1{
    text-align: center; 
    color: gold;
    border-bottom: 5px double white;
    border-left: 5px double white;
    border-right: 5px double white;
   
}
table{
    display: flex;
    align-items: center;
    padding-top: 50px;
   
}

    
td {
   border: 10px dotted #d4af37;
   height: 150px;
   width: 150px;
   text-align: center;
   font-size: 70px;
}

.X::after{
    content: 'X';
    color: white;

}.O::after{
    content: 'O';
    color: #ff073a;
}

table tr:first-child td{
    border-top: 0ch;
}

table tr:last-child td{
    border-bottom: 0ch;
}

table tr td:first-child{
    border-left: 0;
}

table tr td:last-child{
    border-right: 0;
}

.buttons{
    display: flex;
    justify-content: space-around;
}
.btn{
    margin: 10px 30px;
    font-size: 1rem;
    border: 0;
    box-shadow:5px 2px 5px 0 white;
    align-items: left;
    padding-top: 10px;
   
}#resetButton{
    background-color: #ff073a;
}
#resetButton:hover{
    color: white;
}

#lightToDark{
    background-color: #ff073a;
    color: white;
}

#lightToDark:hover{
    color:white;
}
    
#message{
    color: #ff005c;
}

span{
    color: #440bd4;
    animation: blink 1s linear infinite;

}
@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
    }
    
    
