body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center; 
}
section.board {
    display: grid;
    grid-template-rows: repeat(3, 30vmin);
    grid-template-columns: repeat(3, 30vmin);
    grid-gap: 0vmin;
}

div {
    border: 3px solid black;
    font-size: 8vmin;
    text-align: center;
    vertical-align: middle;
}