body {
    display: flex;
    flex-direction: column;
    font-family: 'Merienda One', cursive;
    cursor: pointer;
    align-items: center;
    
}

h1{
    text-align: center; 
    color: gold;
      
}
table{
    display: flex;
    align-items: center;
    padding-top: 50px;
    
}
    
td {
   border: 10px dotted gold;
   height: 150px;
   width: 150px;
   text-align: center;
   font-size: 70px;
}

tr ::after {
    content: 'X';
}

table tr:first-child td{
    border-top: 0ch;
}

table tr:last-child td{
    border-bottom: 0ch;
}

table tr td:first-child{
    border-left: 0;
}

table tr td:last-child{
    border-right: 0;
}

.btn{
    margin: 10px 30px;
    font-size: 1rem;
    border: 0;
    box-shadow:5px 2px 5px 0 white;
    align-items: left;
    padding-top: 10px;
   
}

.resetButton:hover{
    color: white;
}
    
    
    
